
github "Alamofire/Alamofire" ~> 4.5

github "ReactiveX/RxSwift" ~> 4.0

github "Hearst-DD/ObjectMapper" ~> 3.0

github "Moya/Moya"

github "SVProgressHUD/SVProgressHUD"

github "flipboard/FLEX" ~> 2.0

github "rs/SDWebImage"

