github "Hearst-DD/ObjectMapper"

github "SVProgressHUD/SVProgressHUD"

github "dennisweissmann/DeviceKit"

github "Skyscanner/SkyFloatingLabelTextField"

github "RxSwiftCommunity/RxGesture" ~> 3.0

github "Moya/Moya" ~> 14.0
